.cards {
	display: flex;;
	flex-wrap:wrap;
	margin: 50px 0px;
}

.card{
	display:flex;
	justify-content: flex-start;
	background: white;
	margin: 15px 30px;
	flex-basis: 300px;
	flex-grow:1;
	border: rgb(0,0,0);
	box-shadow: 5px 10px 15px rgba(0,0,0,0.2);
	padding: 20px;
	align-items: center;
	border-radius: 5px;
}

.card h3{
	padding-left:20px;
}